# Environment Variables
.env
*.env

# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/
dist/
build/

# Django
db.sqlite3
*.log

# OS
.DS_Store
Thumbs.db